@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap');

body {
    font-family: 'Golos Text', sans-serif;
}

.myn-logo{
max-width: "50px";
  height: "auto"    
}